*{
    box-sizing: border-box;
}
/* themes  */
:root {
    color-scheme: light dark; /* both supported */  
    --white:#F8F8F8;
    --black:#0A0A0A;
    --main-bg-color: #000080;
    --main-text-color: #fff; 
}

/* manual theme toggle  */
:root.light-theme {
    /* by default light mode */
    --current-color:var(--black);
    --current-bg-color:var(--white);
}
:root.dark-theme {
    /* dark mode */
    --current-color:var(--white);
    --current-bg-color:var(--black);
}

/* selection styles */
::-moz-selection {
	color: var(--current-bg-color);
	background: var(--current-color); 
}
::selection {
	color: var(--current-bg-color);
	background: var(--current-color);
}
/* system theme preference  */
 /* @media (prefers-color-scheme: dark) {
    :root {
        --current-color:var(--white);
        --current-bg-color:var(--black);
    }
  }
@media (prefers-color-scheme: light) {
    :root {
        --current-color:var(--black);
        --current-bg-color:var(--white);
    }
} */


/* smooth scroll recomended settings */
html.lenis {
    height: auto;
    /* background-color: #6A9D68; */
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }



body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* font-smoothing: antialiased; */
    text-rendering: optimizeLegibility;
    margin: 0;
    padding:0;
    background-color: var(--current-bg-color);
    transition: background-color 0.5s ease;
}
/* .body-wrapper{
    pointer-events: none
} */
.container{
    padding-left:clamp(15px, 7%, 60px);
    padding-right:clamp(15px, 7%, 60px);
}
main{
    position: relative;
}



/* logo */
.logo-wraper {
    position: absolute;
    left: 0px;
    top: 0px;
    /* background-color: rgba(0, 255, 255, 0.445); */
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px;
    margin-top: 0.7rem;
    margin-left: 0.7rem;
    background-color: var(--current-bg-color);
    border-radius: 100%;
    translate: 0px 3.4px;
    /* position:fixed; */
    z-index: 3;
    /* background-color: rgba(137, 43, 226, 0.541); */
}
.logo .svg{
    height: 30px;
    width: 30px;
}
.logo path{
    fill:var(--current-color);

}


/* nav  styles */


nav{
    z-index: 2;
    position: fixed;
    /* background-color:  red; */
    /* padding: 10px; */
}
nav,.nav-wraper{
    width: 60px;
    height: 60px;
    position:fixed;
    top:1rem;
    right: 1rem;
}
.nav-page-wraper{
    /* z-index: 10000; */
    /* background-color: var(--current-color); */
    /* animation: navColaps 0.5s forwards ease-in-out; */
    position: relative;
    width: 60px;
    height: 60px;
    /* display: grid; */
    /* place-items: center; */

}
.nav-active .nav-page-wraper{
    /* animation: navReveal 0.5s forwards; */

}

.nav-page{
    /* background-color: green; */
}
.nav-items{
    background-color: var(--current-color);
    position: absolute;
    right: 0;
    padding:2px;
    padding-right: 72px;
    /* padding-left: 7px; */
    width: max-content;
    height: 60px;
    translate: calc(100%  ) 0%;
    transition: all 0.4s ease;
    opacity: 0;
    display: flex;
    align-items: center;
    
    /* margin-inline:0.8rem; */

    gap: 5px;

    border-radius: 50px;
}
.nav-active .nav-items{
    translate: 0px 0%;
    opacity: 1;
    box-shadow: 0px 0px 20px -11px var(--current-color) ;
    transition: all 0.2s ease-out;

}
.nav-item{
    width: 100%;
    color: var(--current-bg-color);
    font-family: 'Bebas Neue', sans-serif;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.3s ease;
    /* border: 1px solid  ; */
    cursor:  pointer;
    width: max-content;
    padding: 7px;
    align-self: center;
    
}

.nav-item:not(:first-of-type) {
    background-color: hsla(0, 0%, 80%, 0.123);
    /* background-color: rgba(162, 162, 162, 0.33); */
    /* filter: drop-shadow(0 10px 0 #15111a); */
  }
.nav-item:not(:first-of-type):hover {
    background-color: hsla(0, 0%, 50%, 0.4);
  }
.nav-item:not(:first-of-type):active {
    background-color: var(--current-bg-color);
    color: var(--current-color);
  }
#svgContainer {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-decoration: none;
    aspect-ratio: 1;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items:center;
    padding: 7px;
  
    background-color: hsla(0, 0%, 80%, 0.123);

/* background-image:radial-gradient(
    hsla(0, 0%, 50%, 0),
    hsla(0, 0%, 50%, 1)
    )
    ; */
    transition:background-color 150ms ease-in;
}

#svgContainer:hover {
background-color: hsla(0, 0%, 50%, 0.4);
}
#svgContainer svg {
height: 35px;
width: 35px;
fill:var(--current-bg-color);
}

.light-theme  #sun{
    transform: translate(55px ,-30px) ;
    fill: var(--forgroundColor);
    transition:transform 300ms ease-out;
}
.light-theme  #rings{
    transform-origin: center;
    transform: rotateZ(310deg);
    transition:transform 900ms ease-out;
    fill: var(--forgroundColor);
    animation: ringsAnimation 500ms cubic-bezier(0, 3.26, 1, 3.26)  3s; 
}
  
.dark-theme #sun {
    transform-origin: center;
    transition:transform 300ms ease-out;
    animation: sunAnimation 400ms ease-out  3s; 
}
.sunAnimation{
    transform-origin: center;
    transition:transform 300ms ease-out;
    animation: sunAnimation 400ms ease-out  3s; 
}
.dark-theme #rings {
    transform: rotateZ(-10deg);
    transition:transform 900ms ease-out;
    transform-origin: center;
}
.theme-reset::after {
    content: "default theme is set to system theme";
    position: absolute;
    top:110%;
    right: 0%;
    transform: translateX(200px);
    background-color: #4CAF50; /* Green background color */
    color: white;
    padding: 10px;
    border-radius: 5px;
    opacity: 1;
    /* transition: opacity 0.5s ease-in-out; */
  }
  .notification-animation.theme-reset::after {
    /* opacity: 1; */
    /* animation: moveOpen 4s forwards; */
    
    -webkit-animation:moveOpen 4s;
    -webkit-animation-iteration-count: infinite;
    /* -webkit-animation-fill-mode: forwards; */
  }
  
  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }
  
.animateOpen{
	-webkit-animation:moveOpen 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
}
/* Safari and Chrome */
@-webkit-keyframes moveOpen 
	{
  from {-webkit-transform: translate(200px,0);}
  10% {-webkit-transform: translate(-20px,0);}
  12% {-webkit-transform: translate(-22px,0);}
  16% {-webkit-transform: translate(-20px,0);}
  80% {-webkit-transform: translate(-20px,0);}
  85% {-webkit-transform: translate(-25px,0);}
  to {-webkit-transform: translate(200px,0);}
}
  
  /* #ripple{
    background-color:var(--current-bg-color);
    transform-origin: center;
    transform:scale(0);
    position:absolute;
    height: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    z-index: -1;
  }
  
  .light-theme #ripple{
    animation: rippleAnimation var(--rippleTime) ease-out  ; 
  }

  .dark-theme #ripple{
    animation: ripple2Animation var(--rippleTime) ease-out  ; 
  } */
  

@keyframes rippleAnimation {
    0%{transform:scale(0.01)}
    85%{transform:scale(60)}
    99.9%{transform:scale(60)}
    100%{transform:scale(0);}
  }
  @keyframes ripple2Animation {
    0%{transform:scale(0.01)}
    85%{transform:scale(60)}
    99.9%{transform:scale(60)}
    100%{transform:scale(0);}
  }
  
  @keyframes ringsAnimation{
    0%{transform:rotateZ(360deg)}
    15%{transform:rotateZ(350deg)}
    20%{transform:rotateZ(370deg)}
    30%{transform:rotateZ(350deg)}
    40%{transform:rotateZ(360deg)}
    50%{transform:rotateZ(375deg)}
    60%{transform:rotateZ(360deg)}
    70%{transform:rotateZ(350deg)}
    80%{transform:rotateZ(370deg)}
    90%{transform:rotateZ(350deg)}
    100%{transform:rotateZ(355deg)}
  }
  
  @keyframes sunAnimation {
    0%{transform:scale(0.01)}
    85%{transform:scale(1.1)}
    100%{transform:scale(1.1)}
  }
  
  
/* nav button styles */
.nav-wraper{
    height: 53px;

width: 53px;
translate:-3.5px 3.5px ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: var(--current-bg-color);
    /* z-index: 1000; */
}
.nav-wraper:hover .nav-lines{
    transform-origin: 50% 50%;
    rotate:180deg;
    transition: rotate 0.5s ease;
}

.nav-line{
    width: 1.6rem;
    height: 2px;
    background-color: var(--current-color)
}

.line1{
    transform-origin: 50% 50%;
    position: relative;
    translate: 0px -5px;
    transition: translate 0.2s  0.3s, rotate 0.2s ease-out ;

}
.line2{
    transform-origin: 50% 50%;
    position: relative;
    translate: 0px 5px;
    transition: translate 0.2s  0.3s, rotate 0.2s  ease-out ;

}

.nav-active .nav-wraper{
    /* background-color: var(--current-color); */
}
.nav-active .line1{
    transform-origin: 50% 50%;
    /* animation:  line1rotate 1s ease; */
    translate: 0px 0px;
    rotate: 45deg;
    transition: translate 0.2s  , rotate 0.2s ease-out 0.3s;
    /* background-color: var(--current-bg-color); */

}
.nav-active .line2{
    transform-origin: 50% 50%;
    /* animation:  line2rotate 1s ease; */
    translate: 0px 0px;
    rotate: -45deg;
    transition: translate 0.2s  , rotate 0.2s ease-out 0.3s;
    /* background-color: var(--current-bg-color); */

}
/* @keyframes line1rotate {
    0%{
        translate: 0px -4px;
        background-color: yellow;
    }
    50%{
        translate:0px 0px;
        rotate:0deg;
    }
    100%{
        translate: 0px 1px;
        rotate:45deg;
    }
}
@keyframes line12rotate {
    0%{
        translate: 0px 4px;
        background-color: yellow;
    }
    50%{
        translate:0px 0px;
        rotate:0deg;
    }
    100%{
        translate: 1px 0px;
        rotate:-45deg;
    }
} */

/* body.nav-active {
    height: 100vh;
    overflow-y: hidden;
    padding-right: 15px; 
} */




/* hero styles */
.hero{
    padding-top: 6rem;
    padding-bottom: 6rem;
    cursor:default;
}

.hero-head, .hero-asterisk{
    /* font-family: Vanguard,Impact,sans-serif; */
    font-family: 'Bebas Neue', sans-serif;
    color: var(--current-color);
    text-transform: uppercase;
    padding:0;
    margin:0;
    line-height: 90%; 
    font-size: 6rem;
    font-weight: 500;
    letter-spacing: -.06ch;  
    /* 
    */
}
.hero-asterisk{
    font-size: 2rem;
}


.spacing-asterisk{
    font-family: Roboto Mono,sans-serif;
    font-size: .7rem;
    font-weight: 400;
    line-height: 140%;
    display: flex;
    justify-content: space-between;
}

@media (width>487px) {
    .hero-graating-container,
    .hero-head-name{
        display: flex;
    }

    .hero-im,
    .hero-bhatia{
        padding-left: 15px;
    }
    .hero-head {
        font-size: 19.6vw;
    }
}
@media (width>630px) {
    .hero-joke-container{
        padding-top:1rem;
    }
}

@media (width>989px) {
    .hero-name-joke-spacer{
        display: flex;
        justify-content: space-between;
    }
    .hero-joke-container{
        align-self: flex-end;
    }
    .hero-head {
        font-size: 15vw;
    }
}
.hero-text-wrap{
    margin-top: 2rem;
}


/* @media (width>800px) {
    .hero-head{
        font-size: 7rem;
    }
}
@media (width>900px) {
    .hero-head{
        font-size: 8rem;
    }
}
@media (width>1000px) {
    .hero-head{
        font-size: 10rem;
    }
}
@media (width>1200px) {
    .hero-head{
        font-size: 12rem;
    }
} */
.hero-joke-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size:0.6rem;
    font-weight: 100;
    letter-spacing: 0.02rem;
    /* line-height: 120%; */
}
.hero-joke{
    margin:0;
    color: var(--current-color);
    font-family: Roboto Mono,sans-serif;
}
.img{
    width:100%;
}
.horizontal-text-wraper{
    overflow-x: hidden;
    height:max-content;
    opacity: 0;
    padding-bottom: 4rem
}


.sentence-wraper{
    overflow-x: hidden;
    border: 1px solid var(--current-color);
}

.sentence-invert{
    transform: skew(30deg);
    
}

.sentence{
    display: flex;
    color: var(--current-bg-color);
    text-shadow: -1px -1px 0 var(--current-color), 1px -1px 0 var(--current-color), -1px 1px 0 var(--current-color), 1px 1px 0 var(--current-color);
    white-space: nowrap;
}


.word{
    font-size:2rem;
    transition: transform 0.5s ease;
    text-transform: uppercase;
    padding-right:1rem;
    text-shadow: -1px -1px 0 var(--current-color), 1px -1px 0 var(--current-color), -1px 1px 0 var(--current-color), 1px 1px 0 var(--current-color)
}

@media (width>767px) {
    .word{
        font-size:2.5rem;
    }
    .horizontal-text-wraper{
        padding-bottom: 6rem
    }
}

.sentence-invert .word:hover .word:not(.fancy) {
    color: var(--current-color);
    /* transform: skew(-30deg); */
    transition: transform 0.5s ease;
    text-shadow: 0px 0px 0 ;
}

.fancy{

    color:var(--current-color);

}




.project-wraper {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.media-wrapper{
    overflow: hidden;
    object-fit: cover;
    justify-content: center;
    align-items: flex-start;
    display: flex;
}

.project-media{
    /* object-fit: cover; */
    width:100%;
    /* aspect-ratio: 5/3; */

}

.name-overflow-hidden{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    overflow: hidden;
    width: 100%;
}

.tags-overflow-hidden{
    align-items: center;
    display: flex;
    overflow: hidden;
    width: 100%;
    gap:0.5rem;
    flex-wrap: wrap;

}

.project-name, .tag{
    color:var(--current-color);
}

.project-tags-wrapper,
.project-name-wraper{
    padding-left: 0.75rem;
    padding-top:0.7rem ;
}
.tag{
    border:1px solid var(--current-color);
    text-transform: uppercase;
    font-family: Roboto Mono,sans-serif;
    font-size: 0.43rem;
    font-weight: 500;
    border-radius: 3px;
    padding: .25rem .4rem;
    letter-spacing: 0.07rem;
    /* font-size: 0.53rem; */
    /* letter-spacing: 0.08rem; */
    /* padding: .4rem .6rem; */
}

.project-name{
    text-transform: lowercase;
    font-size: 1.9rem;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
}
.footer-cta{
    padding-inline: 1rem;
}

.footer-cta-container{
    margin-block: 5rem;
}
.footer-cta-mail-container{
    width: 100px;
    height: 100px;
    background-color: var(--current-color);
    color: var(--current-bg-color);
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.footer-cta-mail-link{
    color: var(--current-bg-color);
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
}
.footer-cta-mail-container{
    height: 100px;
    width: 100px;
    background-color: var(--current-color);
    border-radius: 50%;
    font-size: 0.7rem;
    transition: all 0.3s ease-in;
    box-shadow: 0px 0px 12px -11px var(--current-color) ;
    
}
.footer-cta-mail-container:hover{
    scale:1.07;
    box-shadow: 0px 0px 23px -11px var(--current-color) ;
    transition: all 0.3s ease-out;
}
.footer-cta-mail-hover-container{
    margin-top: 1.5rem;
}

.footer-container{
    color: var(--current-color);
    display: flex;
    justify-content: center;
    align-items: end;
    height: 5vh;

    text-transform: uppercase;
    font-family: Roboto Mono,sans-serif;
    font-size: 0.43rem;
    font-weight: 500;
    padding: 0.25rem 0.4rem;
    letter-spacing: 0.07rem;
}
.projects-section-container{
    padding-inline: 0.5rem;

}
@media (width>600px) {
    .tag{
        font-size: 0.53rem;
        letter-spacing: 0.08rem;
        padding: .4rem .6rem;
    }
    .project {
        width:71vw;
    }
    .projects-section-container{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .project-wraper:nth-last-of-type(2n){
        align-self: end;
    }
    .projects-section-container{
        padding-left:clamp(15px, 7%, 60px);
        padding-right:clamp(15px, 7%, 60px);
    }
    .footer-cta-container{
        padding-left:clamp(15px, 7%, 60px);
        padding-right:clamp(15px, 7%, 60px);
    }
    .footer-cta-mail-container{
        height: 190px;
        width: 190px;
        font-size: 1.3rem;

    }
}
@media (width>989px) {
    .project {
        width:50vw;
    }
    .projects-section-container{
        padding-left:clamp(15px, 7%, 60px);
        padding-right:clamp(15px, 7%, 60px);
    }
    .footer-cta-container{
        padding-left:clamp(15px, 7%, 60px);
        padding-right:clamp(15px, 7%, 60px);
    }

}


@media (width<290px) {

    .contact-cta-text{
        font-size: 1.5rem;
    }
    .footer-cta-text-wrapper {
        display: flex;
        flex-direction: column;
    }
    .project-name{
        font-size: 1.3rem;
    }
    .tag{
        font-size: 0.4rem;
    }
    .hero-head, .hero-asterisk {
        font-size: 5rem;
    }
    .hero-joke-container {
        font-size: 0.4rem;
    }
    .word {
        font-size: 0.9rem;
    }
    .horizontal-text-wraper {
        padding-bottom: 1rem;
    }
    .footer-cta-mail-hover-container {
        margin-top: 2rem;
    }
}
@media (width>600px) {

    .contact-cta-text{
        font-size: 4rem;
    }
}